 <div class="section-fade"></div>


<div class="container my-5">
  <footer class="footer text-white">


    <section>
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Immersive & Move</h6>
            <hr class="divider" />
            <p>
              Get ready to step with us!
            </p>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">All Levels Offered to Your Needs</h6>
            <hr class="divider" />
            <p><a  class="text-white">Introduction</a></p>
            <p><a  class="text-white">Beginner </a></p>
            <p><a  class="text-white">Intermediate</a></p>
            <p><a class="text-white">Advanced</a></p>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr class="divider" />
            <p><i class="fas fa-home me-2"></i> New York, NY 10012, US</p>
            <p><i class="fas fa-envelope me-2"></i> immersive.move.com</p>
            <p><i class="fas fa-phone me-2"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-2"></i> + 01 234 567 89</p>
          </div>
        </div>
      </div>
    </section>

    <div class="text-center p-3 footer-copyright">
      © 2025 Copyright:
      <a class="text-white" href="#">Immerse & Move</a>
    </div>
  </footer>
</div>
